---
import CurriculumEducationSection from "../components/curriculum/sections/CurriculumEducationSection";
import CurriculumHeadingSection from "../components/curriculum/sections/CurriculumHeadingSection";
import CurriculumPersonalWorkSection from "../components/curriculum/sections/CurriculumPersonalWorkSection";
import CurriculumWorkExperience from "../components/curriculum/sections/CurriculumWorkExperienceSection";
import Divider from "../components/Divider";
import CurriculumLayout from "../layouts/CurriculumLayout.astro";
---

<CurriculumLayout title="Zani Luca">
  <CurriculumHeadingSection client:load />
  <Divider client:load />
  <CurriculumWorkExperience client:load />
  <Divider client:load />
  <!-- Printing -->
  <div class="hidden print:block">
    <CurriculumEducationSection client:load />
    <div class="break-before-page mt-20">
      <CurriculumPersonalWorkSection client:load />
    </div>
  </div>
  <!-- Not printing -->
  <div class="print:hidden">
    <CurriculumPersonalWorkSection client:load />
  </div>
</CurriculumLayout>
