<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="zaniluca.com"/>
    <meta name="generator" content={Astro.generator} />
    <title>Luca Zani</title>
    <meta
      name="description"
      content="Hello there! I'm Luca Zani, a software engineer based in Italy and I love to build things for the web."
    />
    <meta 
      name="keywords"
      content="Luca Zani, Zani Luca, software engineer, web developer, front-end developer, full-stack developer"
    />
    <style>
      @font-face {
        font-family: 'Bricolage Grotesque';
        src: url('/fonts/BricolageGrotesque.ttf') format('ttf');
        font-display: swap;
      }
    </style>
  </head>
  <body class="h-full antialiased">
    <div
      class="mx-auto mt-8 max-w-screen-md w-full px-6 py-12 lg:pt-16 lg:pb-28"
    >
      <slot />
    </div>
  </body>
</html>
